<div class="container mt-2">
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col" *ngFor="let question of questions$ | async | keyvalue">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{ question.value.author }}</h5>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">{{ question.value.optionOne.text }}</li>
          <li class="list-group-item">{{ question.value.optionTwo.text }}</li>
        </ul>
      </div>
    </div>
  </div>
</div>
